// Body
$body-bg: #f8fafc;

// Typography
$font-family-base: 'Barlow', sans-serif;
$font-family-primary: 'Martel', serif;
$font-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$primary: #17301c;
$success:#36ba6c;
$info:   #4f86c6;
$danger: #ee324d;
$purple: #744fc6;
$pink: #f672a7;
$white: #ffffff;
$dark:  #323a46;
$light:  #f9f9f9;
$muted:  #7a7d84;
$lightdark: #e6e6e6;

$bg-gradient : linear-gradient(360deg, #fff 0%, #36ba6c 78%);
$shadow: 0 10px 35px 0 rgba(154, 161, 171, 0.1);

